/* Container */
.parent {
    position: relative;
}

/* SVG element. */
svg {
    border: 1px solid black;
    font-size: 10px;
    position: absolute;
    left: 0;
    z-index: 1;
}

/* Button */
input {
    position: absolute;
    z-index: 2;
}

/* Axis */
.axis path,
.axis line {
    stroke: #a0a0a0;
}

