/* Container */
.parent {
    position: relative;
}

/* SVG element. */
svg {
    border: 1px solid black;
    font-size: 10px;
    position: absolute;
    left: 0;
    z-index: 1;
}

/* Buttons and Sliders */
input, .MuiSlider-root {
    position: absolute;
    z-index: 2;
}
input[type=button] {
    width: 30px;
    height: 30px;
}

/* Axis */
.axis path,
.axis line,
.axisRotated path,
.axisRotated line {
    stroke: #a0a0a0;
}
.axisRotated text {
    text-anchor: end;
    transform: translateX(-13px) translateY(6px) rotate( -90deg );
}

